<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-semester-heading">Create or edit a Semester</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!semester.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="semester.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_semesterNumber">Semester Number</label>
                    <select class="form-control" name="semesterNumber" [(ngModel)]="semester.semesterNumber" id="field_semesterNumber"  required>
                        <option value="NONE">NONE</option>
                        <option value="ONE">ONE</option>
                        <option value="TWO">TWO</option>
                        <option value="THREE">THREE</option>
                        <option value="FOUR">FOUR</option>
                        <option value="FIVE">FIVE</option>
                        <option value="SIX">SIX</option>
                        <option value="SEVEN">SEVEN</option>
                        <option value="EIGHT">EIGHT</option>
                    </select>
                    <div [hidden]="!(editForm.controls.semesterNumber?.dirty && editForm.controls.semesterNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.semesterNumber?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_semesterStartDate">Semester Start Date</label>
                    <div class="input-group">
                        <input id="field_semesterStartDate" type="text" class="form-control" name="semesterStartDate" ngbDatepicker  #semesterStartDateDp="ngbDatepicker" [(ngModel)]="semester.semesterStartDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="semesterStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_semesterEndDate">Semester End Date</label>
                    <div class="input-group">
                        <input id="field_semesterEndDate" type="text" class="form-control" name="semesterEndDate" ngbDatepicker  #semesterEndDateDp="ngbDatepicker" [(ngModel)]="semester.semesterEndDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="semesterEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_subject">Subject</label>
                    <select class="form-control" id="field_subject" multiple name="subject" [(ngModel)]="semester.subjects">
                        <option [ngValue]="getSelected(semester.subjects, subjectOption)" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_courseYear">Course Year</label>
                    <select class="form-control" id="field_courseYear" name="courseYear" [(ngModel)]="semester.courseYearId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseYearOption.id" *ngFor="let courseYearOption of courseyears; trackBy: trackCourseYearById">{{courseYearOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
