page-signup {

     
  .height{
    height:100%;
  }

  .grid
  {
    padding: 0px;
  }

.tint
  { 
     // background: rgba(58,175,169,0.9); 
     background:#202D31;
  }

  .centered {
     position: absolute;
     top: 55%;
     left: 55%;
     transform: translate(-80%, -80%);
     color: white;
     font-size: 43px;
     font-weight: bold;
 }

 .centered1{
     position: absolute;
     top: 70%;
     left: 57.5%;
     transform: translate(-80%, -80%);
     color: white;
     font-size: 22px;
 }

.inside {
  position:absolute;
  text-indent:15px;
  margin-top:18px;
  color:#717171;
}

input{
     background-color: #FFF0E4;
     border:2px solid #FFB478; 
     border-radius: 7px;
     text-indent:20px;
     font-size: 12.5px !important;
 }

 h1,h2,h3,h4,h5,h6{
     font-weight: normal;
 }
 select
  {
  background-color: #FFF0E4;
  color:#717171;
  border:2px solid #FFB478; 
  border-radius: 7px;
  text-indent:18px;
  font-size: 12.5px !important;
  
}

.img1 {
     position: absolute;
     z-index: 1;
     opacity: 0.66;
     height: 43%;
     width: 37%;
     top: 30%;
     left: 33%;
    //  border:1px solid black;
   }

   .align{
       text-align:center;
   }

   .alignRight{
    text-align:right;
   }

   .alignLeft{
    text-align:left;
   }
   
   .signUpButton{
     background-color:#FE787B;
     width:70%;
     color: white;
     border-color: #CCCCCC;
     font-size: 10px;
   }

   .signUpButton:hover {
    background-color:#FFB478 !important;   
  }
  
   .input{
     font-size:1rem;
     width: 83%;
   }

   .inputReg{
    font-size:1rem;
    width: 70%;
   }

   .title{
     text-align:center;
     font-size: 28px;
   }

   .img{
     opacity: 0.2;
     height: 100%;
     width: 100%;
     position:absolute;
     top:0px;
     left:0px;
   }

   .mobImg
   {
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0px;
    left:0px;
   }

   .mobImg1 {
    // position: absolute;
    z-index: 1;
    opacity: 0.9;
    margin-right: auto;
    margin-left: auto;
    display:block;
    margin-top:18%;
    zoom: 0.7;
    max-height: 45%;
    max-width: 45%;
    // border:1px solid black;
  }

   .infoButton{
     color:white;
     border-color:white;
   }

   .tintImgMob{
     text-align:center;
     opacity: 0.6;
     // background: rgba(58,175,169,0.9);
   }

   .label{
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #585757;
   }


   .topImages{
    height:32%;
    width: 100%;
   }

   .ipadImg
    {
    z-index: 1;
    opacity: 0.9;
    margin-right: auto;
    margin-left: auto;
    display:block;
    margin-top:10%;
    zoom: 0.6;
    min-height: 50%;
    max-width: 50%;      
    }

    @media only screen and (max-width: 1024px) {
      input{
       zoom: 1;
    } 

    .signUpButton{
      width:50%;
      zoom: 1.2;
    }

    .inside {
      position:absolute;
      text-indent:10px;
      margin-top:18px;
    }
 }
}
