<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resource">
            <h2><span>Resource</span> {{resource.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{resource.title}}</span>
                </dd>
                <dt><span>Resource URL</span></dt>
                <dd>
                    <span>{{resource.resourceURL}}</span>
                </dd>
                <dt><span>Topic</span></dt>
                <dd>
                    <div *ngIf="resource.topicId">
                        <a [routerLink]="['/topic', resource.topicId, 'view']">{{resource.topicId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource', resource.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
