<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.rejected.title(${booking.title})}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.rejected.greeting(${booking.requestedBy})}">
            Dear
        </p>
         <p>
        <span th:if="${tutorUser != null}" th:text="#{email.confirmed.bookingTutorial}">
           As requested, an ITLC tutorial on
        </span>   
        
        <span th:if="${tutorUser == null}" th:text="#{email.confirmed.booking}">
           As requested, the booking for the 
        </span>   
        
        <strong th:text="${booking.title}"> booking title </strong>  
        <strong th:if="${#lists.size(topics) > 0}" th:text="'- ' + ${#strings.listJoin(topics, ', ')}"></strong> 
        
        <span th:if="${tutorUser != null}" th:text="#{email.confirmed.bookingWithTutor(${#dates.format(booking.startTime, 'dd-MMM-yyyy')}, ${#dates.format(booking.startTime, 'HH.mma')}, ${#dates.format(booking.endTime, 'HH.mma')}, ${tutorUser.firstName + ' ' + tutorUser.lastName})}">
           will take place on..
        </span> 
        
        <span th:if="${tutorUser == null}" th:text="#{email.confirmed.booking2(${#dates.format(booking.startTime, 'dd-MMM-yyyy')}, ${#dates.format(booking.startTime, 'HH.mma')}, ${#dates.format(booking.endTime, 'HH.mma')})}">
           will take place on..
        </span> 
        
        </p>
        
        <div th:if="${#lists.size(resources) > 0}">
        <p  th:text="#{email.confirmed.resourcesText}">We have some useful resources...</p>
        </div>
        
	   		<div th:each="resource: ${resources}">
	    <div th:if="${(resourceStat.index - 1 >= 0 && resources[resourceStat.index - 1].topic.id != resources[resourceStat.index].topic.id) || resourceStat.index == 0}">
	    	<strong th:text="${resources[resourceStat.index].topic.title}"> Get resource topic headers while iterating </strong>
	    </div>
    <div><a th:href="${resources[resourceStat.index].resourceURL}"><span th:text="${resources[resourceStat.index].title}">Resource URL here</span></a></div>
	</div>
       		
       	<p th:text="#{email.contactinfo}"></p>	
       		
        <p>
            <span th:text="#{email.cancelled.text3}">Regards, </span>
            <br/>
            <div th:text="#{email.addy1}"></div>
            <div th:text="#{email.addy2}"></div>
            <div><strong th:text="'T:'"></strong> <a th:href="'tel:' + #{email.phoneNum}"><span th:text="#{email.phoneNum}"></span></a> <span th:text="#{email.phoneExtension}"></span></div>
            <div><strong th:text="'E:'"></strong> <span th:text="#{email.ItlcEmail}"></span></div>
            <div><strong th:text="'W:'"></strong> <a th:href="#{email.website}"><span th:text="#{email.website}"></span></a></div>
        </p>
    </body>
</html>