<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.creation.text1}">
            Your JHipster account has been created, please click on the URL below to access it:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.cancelled.text3}">Regards, </span>
            <br/>
            <div th:text="#{email.addy1}"></div>
            <div th:text="#{email.addy2}"></div>
            <div><strong th:text="'T:'"></strong> <a th:href="'tel:' + #{email.phoneNum}"><span th:text="#{email.phoneNum}"></span></a> <span th:text="#{email.phoneExtension}"></span></div>
            <div><strong th:text="'E:'"></strong> <span th:text="#{email.ItlcEmail}"></span></div>
            <div><strong th:text="'W:'"></strong> <a th:href="#{email.website}"><span th:text="#{email.website}"></span></a></div>
        </p>
    </body>
</html>
