<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.user.firstName})}">
            Dear
        </p>
        
        <span th:text="#{email.reminder.sentence1}">
           A reminder from the ITLC, you have a
        </span>

		<strong th:text="${booking.title}"> booking title </strong>  
		<span  th:if="${#lists.size(booking.topics) > 0}" th:text="'- '">dash for separating title and topics</span>
        <strong th:each="topic, iter: ${booking.topics}">
        	<span th:if="${iter.last}" th:text="${topic.title}">topic w/ no delimiter</span>
        	<span th:if="${!iter.last}" th:text="${topic.title} + ', '">topic title with delimiter</span>
        </strong>
        <span th:if="${tutorUser != null}" th:text="'tutorial ' + #{email.reminder.sentence2WithTutor(${relativeTimePeriod}, ${#dates.format(booking.startTime, 'dd-MMM-yyyy')}, ${#dates.format(booking.startTime, 'HH.mma')}, ${#dates.format(booking.endTime, 'HH.mma')}, ${tutorUser.firstName + ' ' + tutorUser.lastName})}">
           {tomorrow/today}, 01/12/2019 from 18:00PM to 21:00PM with John Doe
        </span> 
        
        <span th:if="${tutorUser == null}" th:text="'booking ' + #{email.reminder.sentence2(${relativeTimePeriod}, ${#dates.format(booking.startTime, 'dd-MMM-yyyy')}, ${#dates.format(booking.startTime, 'HH.mma')}, ${#dates.format(booking.endTime, 'HH.mma')})}">
           {tomorrow/today}, 01/12/2019 from 18:00PM to 21:00PM
        </span>
        
        <p th:text="#{email.contactinfo}"></p>	
        
        <p>
            <span th:text="#{email.cancelled.text3}">Regards, </span>
            <br/>
            <div th:text="#{email.addy1}"></div>
            <div th:text="#{email.addy2}"></div>
            <div><strong th:text="'T:'"></strong> <a th:href="'tel:' + #{email.phoneNum}"><span th:text="#{email.phoneNum}"></span></a> <span th:text="#{email.phoneExtension}"></span></div>
            <div><strong th:text="'E:'"></strong> <span th:text="#{email.ItlcEmail}"></span></div>
            <div><strong th:text="'W:'"></strong> <a th:href="#{email.website}"><span th:text="#{email.website}"></span></a></div>
        </p>
    </body>
</html>
