// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url("../assets/img/hipster.png") no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hipster {
    background: url("../assets/img/hipster2x.png") no-repeat center top;
    background-size: contain;
  }
}

        // ITLC Logo
        ion-title{
          font-family: "Courier New", Courier, monospace;
        }
        #letterI{
          color:#FE787B;
        }
        #letterT{
          color:#3AAFA9;
        
        }
        #letterL{
          color:#FFB478;
        
        }
        #letterC{
          color:#6395C5;
        
        }
  //Side menu design
  .bar4, .bar5, .bar6 {
    width: 35px;
    height: 5px;
    background-color: white;
    border: 1px solid #3AAFA9;
    margin: 6px 0;
  
  }
  
  .bar4 {
    width: 25px;
    margin-left:10px;
  }
  
  #side-menu-content{
    background-color: #202D31;
  }
  
  #side-menu-button{
    background-color: transparent;
    box-shadow: none;
    float:right;
  }
  .list-md .item-block .item-inner{
    border-bottom:0;
  }
  
  #sideMenuTitle .toolbar-background-md{
    background-color: #202D31;
  }

  //all ion-content
  ion-content.content.content-md{
    position: relative;
}