<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courseYear">
            <h2><span>Course Year</span> {{courseYear.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Course Year</span></dt>
                <dd>
                    <span>{{courseYear.courseYear}}</span>
                </dd>
                <dt><span>Subject</span></dt>
                <dd>
                    <span *ngFor="let subject of courseYear.subjects; let last = last">
                        <a [routerLink]="['/subject', subject?.id, 'view' ]">{{subject.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <div *ngIf="courseYear.courseId">
                        <a [routerLink]="['/course', courseYear.courseId, 'view']">{{courseYear.courseId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course-year', courseYear.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
